body {
    background-color: white;
    font-family: Helvetica, sans-serif;
    color: #222;
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 7%;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

h3 {
    margin: 0;
    font-weight: 100px;
    display: block;
}

#big-text p {
    line-height: 7px;
}

#big-text2 p {
    line-height: 7px;
}

.index-page img {
    width: 100%;
}

.topnav {
    background-color: white;
    text-align: center;
    margin-top: 30px;
    position: sticky;
    top: 0;
}

.topnav .links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-bottom: 20px;
}

.topnav li {
    display: inline-block;
    padding: 0 20px;
    color: #222;
}

.topnav li:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

a {
    text-decoration: none;
    padding: 10px;
}

a:visited {
    text-decoration: none;
    color: #222;
}

.picasso-flex {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.picasso-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 15px;
    width: 45%;
    margin: 15px;
    padding: 20px;
}

.picasso-bio {
    background-color: #f3f3f3;
    border-radius: 15px;
    text-align: center;
    width: 80%;
    margin: 15px;
    padding: 20px 30px;
}

#img1 #img2 #img3 {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    line-height: 15px;
    padding: 5px;
}

#picasso-table {
    margin: 0 auto;
    border-spacing: 20px;
    width: 70%;
    text-align: center;
}

.picasso-table tr {
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.frida-flex {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.frida-images {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 15px;
    justify-content: center;
    width: 45%;
    margin: 15px;
    padding: 20px;
}

.frida-bio {
    background-color: #f3f3f3;
    border-radius: 15px;
    text-align: center;
    width: 80%;
    margin: 15px;
    padding: 20px 30px;
}

.newsletter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px 20px;
}

#signup-action {
    display: flex;
    display: row;
    margin: 20px 20px;
    margin-bottom: 30px;
}

#signup-textbox {
    margin-right: 5px;
}

.about {
    background-color: #f3f3f3;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 90%;
    padding: 20px 30px;
    text-align: center;
}

.about h3 {
    padding-bottom: 15px;
}

.about img {
    width: 30%;
    border-radius: 70%;
}

.author-bio .artist-list {
    width: 30%;
    list-style-type: circle;
    position: relative;
    margin: 0 auto;
}

.contact-page {
    margin: 0 auto;
    background-color: #f3f3f3;
    border-radius: 15px;
    padding: 20px 30px;
    width: 400px;
    text-align: left;
}

#contact-button {
    margin-top: 15px;
}

@media (max-width:600px) {
    .picasso-flex {
        flex: 100%;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .picasso-images {
        width: 83%;
    }

    #picasso-table {
        width: 30%;
    }

    .frida-flex {
        flex: 100%;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .frida-images {
        width: 83%;
    }

    .newsletter {
        flex: 100%;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .newsletter p {
        margin-bottom: -20px;
    }


    #signup-action {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px 20px;
    }
}
