body {
    font-family: Helvetica, sans-serif;
    color: #222;
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 7%;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

h3 {
    margin: 0;
    font-weight: 100px;
    display: block;
}

#big-text p {
    line-height: 7px;
}

.topnav {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.topnav .links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-bottom: 20px;
}

.topnav li {
    display: inline-block;
    padding: 0 20px;
    color: #222;
}

.topnav li:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

a {
    text-decoration: none;
    padding: 10px;
}

a:visited {
    text-decoration: none;
    color: #222;
}

.picasso-flex {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.picasso-flex .flex-left {
    background-color: #f3f3f3;
    border-radius: 15px;
    justify-content: center;
    width: 45%;
    margin: 15px;
    padding: 20px;
}

.picasso-flex .flex-right {
    background-color: #f3f3f3;
    border-radius: 15px;
    text-align: center;
    width: 80%;
    margin: 15px;
    padding: 20px 20px;
}

.flex-left .img-pic img {
    width: 100%;
}

.flex-left .img-pic {
    width: 55%;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    line-height: 15px;
    padding: 5px;
}

.picasso-table {
    margin: 0 auto;
    border-spacing: 20px;
    width: 70%;
    text-align: center;
}

.picasso-table tr {
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.frida-flex {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.frida-flex .frida-left {
    background-color: #f3f3f3;
    border-radius: 15px;
    text-align: center;
    width: 45%;
    margin: 15px;
    padding: 20px;
}

.frida-flex .frida-right {
    background-color: #f3f3f3;
    border-radius: 15px;
    text-align: center;
    width: 80%;
    margin: 15px;
    padding: 20px 20px;
}

.frida-left figure img {
    width: 100%;
}

.frida-left .figure {
    width: 80%;
    margin-top: 20%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin black solid;
    line-height: 10px;
    padding: 5px;
}

.newsletter {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 90%;
    padding: 20px;
    text-align: center;
}

.about {
    background-color: #f3f3f3;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 90%;
    padding: 20px;
    text-align: center;
}

.about h3 {
    padding-bottom: 15px;
}

.about img {
    width: 50%;
    border-radius: 15px;
}

.about .author-bio {
    margin: 0 auto;
    width: 70%;
}

.author-bio .artist-list {
    width: 30%;
    list-style-type: circle;
    position: relative;
    margin: 0 auto;
}

.contact {
    margin: 0 auto;
    background-color: #f3f3f3;
    border-radius: 15px;
    padding: 20px;
    width: 400px;
}


