body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 35px;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    background-color: #efefef;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
}

li {
    float: left;
}

a {
    padding: 10px;
}

